auth-api/bin
auth-api/lib
auth-api/lib64
auth-api/src/__pycache__
auth-api/pyvenv.cfg
auth-api/src/logs/*log*
__pycache__
auth-api/include
auth-api/src/auth.db
auth-api/cert.crt
auth-api/cert.pem
auth-api/key.pem
auth-api/private.key
auth-api/public.key
.env
auth-api/src/alembic
alembic.ini
em_notes
