auth-api/bin
auth-api/lib
auth-api/lib64
auth-api/src/__pycache__
auth-api/pyvenv.cfg
auth-api/src/logs/*log*
__pycache__
auth-api/include
auth-api/src/auth.db
cert.pem
key.pem
private.key
public.key
.env
